In [1]:
# Importações gerais
import pandas as pd

In [2]:
# Importando a base estática de jogadores da NBA
from nba_api.stats.static import players
# Pega uma lista de dicionários, cada um um jogador
nba_players = players.get_players()

In [3]:
###### TROCAR O NOME DO JOGADOR AQUI ##########
nome = 'LeBron James'
# Acha o dicionário correspondente ao jogador desejado
jogador = [player for player in nba_players
                   if player['full_name'] == nome][0]
jogador

{'id': 2544,
 'full_name': 'LeBron James',
 'first_name': 'LeBron',
 'last_name': 'James',
 'is_active': True}

In [4]:
# Importando a API que acha os jogos
from nba_api.stats.endpoints import leaguegamefinder
# Procurando os jogos que o jogador participou
gamefinder = leaguegamefinder.LeagueGameFinder(player_id_nullable=jogador['id'])
jogos = gamefinder.get_data_frames()[0]
jogos.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22020,1610612747,LAL,Los Angeles Lakers,0022000640,2021-03-20,LAL vs. ATL,L,11,10,...,1.000,0,1,1,4,0,0,1,0,-1.0
1,22020,1610612747,LAL,Los Angeles Lakers,0022000630,2021-03-18,LAL vs. CHA,W,37,37,...,0.833,1,7,8,6,1,1,3,2,1.4
2,22020,1610612747,LAL,Los Angeles Lakers,0022000615,2021-03-16,LAL vs. MIN,W,31,25,...,1.000,1,11,12,12,0,1,4,0,0.0
3,22020,1610612747,LAL,Los Angeles Lakers,0022000608,2021-03-15,LAL @ GSW,W,30,22,...,0.667,1,9,10,11,0,0,6,3,6.6
4,22020,1610612747,LAL,Los Angeles Lakers,0022000585,2021-03-12,LAL vs. IND,W,34,18,...,0.636,0,3,3,10,1,0,3,4,2.2

In [5]:
#A coluna de temporada tem um identificador numérico de tipo logo antes. Os ids de temporada regular começam com o número 2
jogos.groupby(jogos.SEASON_ID)[['GAME_ID']].count()

           GAME_ID
SEASON_ID
12003            2
12004            2
12005            5
12006            6
12007            7
...            ...
42014           20
42015           21
42016           18
42017           22
42019           21

[67 rows x 1 columns]

In [6]:
# Vamos fazer esse corte e manter apenas o ano
jogos = jogos[jogos['SEASON_ID'].str[0] == '2']
jogos['SEASON_ID'] = jogos['SEASON_ID'].str[-4:]

In [7]:
# Trocando o nome da coluna de temporada
colunas = list(jogos.columns)
colunas[0] = 'SEASON'
jogos.columns = colunas

In [8]:
# Criando uma coluna para dizer se o time jogou em casa
jogos['HOME'] = jogos['MATCHUP'].str[4:5] == 'v'

In [9]:
# Dimensões dos dados
jogos.shape

(1306, 29)

In [10]:
# Tipos das colunas
jogos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1306 entries, 0 to 1666
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SEASON             1306 non-null   object
 1   TEAM_ID            1306 non-null   int64
 2   TEAM_ABBREVIATION  1306 non-null   object
 3   TEAM_NAME          1306 non-null   object
 4   GAME_ID            1306 non-null   object
 5   GAME_DATE          1306 non-null   object
 6   MATCHUP            1306 non-null   object
 7   WL                 1306 non-null   object
 8   MIN                1306 non-null   int64
 9   PTS                1306 non-null   int64
 10  FGM                1306 non-null   int64
 11  FGA                1306 non-null   int64
 12  FG_PCT             1306 non-null   float64
 13  FG3M               1306 non-null   int64
 14  FG3A               1306 non-null   int64
 15  FG3_PCT            1266 non-null   float64
 16  FTM                1306 non-null   int64
 17  FTA                1306 non-null   int64
 18  FT_PCT             1292 non-null   float64
 19  OREB               1306 non-null   int64
 20  DREB               1306 non-null   int64
 21  REB                1306 non-null   int64
 22  AST                1306 non-null   int64
 23  STL                1306 non-null   int64
 24  BLK                1306 non-null   int64
 25  TOV                1306 non-null   int64
 26  PF                 1306 non-null   int64
 27  PLUS_MINUS         1306 non-null   float64
 28  HOME               1306 non-null   bool
dtypes: bool(1), float64(4), int64(17), object(7)
memory usage: 297.2+ KB

In [11]:
# Transformando IDs em numéricos
jogos['SEASON'] = pd.to_numeric(jogos['SEASON'])
jogos['GAME_ID'] = pd.to_numeric(jogos['GAME_ID'])

In [12]:
# Conferindo
jogos.tail().T

,1662,1663,1664,1665,1666
SEASON,2003,2003,2003,2003,2003
TEAM_ID,1610612739,1610612739,1610612739,1610612739,1610612739
TEAM_ABBREVIATION,CLE,CLE,CLE,CLE,CLE
TEAM_NAME,Cleveland Cavaliers,Cleveland Cavaliers,Cleveland Cavaliers,Cleveland Cavaliers,Cleveland Cavaliers
GAME_ID,20300068,20300057,20300038,20300018,20300014
GAME_DATE,2003-11-07,2003-11-05,2003-11-01,2003-10-30,2003-10-29
MATCHUP,CLE @ IND,CLE vs. DEN,CLE @ POR,CLE @ PHX,CLE @ SAC
WL,L,L,L,L,L
MIN,44,41,39,41,42
PTS,23,7,8,21,25
FGM,8,3,3,8,12
FGA,18,11,12,17,20
FG_PCT,0.444,0.273,0.25,0.471,0.6
FG3M,1,0,0,1,0
FG3A,2,2,1,5,2
FG3_PCT,0.5,0.0,0.0,0.2,0.0
FTM,6,1,2,4,1
FTA,7,1,2,7,3
FT_PCT,0.857,1.0,1.0,0.571,0.333
OREB,0,2,0,2,2
DREB,5,9,4,10,4
REB,5,11,4,12,6
AST,3,7,6,8,9
STL,0,2,2,1,4
BLK,0,3,0,0,0
TOV,7,2,2,7,2
PF,2,1,3,1,3
PLUS_MINUS,-1.4,-0.6,-4.2,-0.6,-1.8
HOME,False,True,False,False,False

In [13]:
arquivo = nome+'.csv'
jogos.to_csv(arquivo)

In [14]:
from nba_api.stats.endpoints import playercareerstats
# Anthony Davis
career = playercareerstats.PlayerCareerStats(player_id=jogador['id']).get_data_frames()[0]
career.head().T

                            0           1           2           3           4
PLAYER_ID                2544        2544        2544        2544        2544
SEASON_ID             2003-04     2004-05     2005-06     2006-07     2007-08
LEAGUE_ID                  00          00          00          00          00
TEAM_ID            1610612739  1610612739  1610612739  1610612739  1610612739
TEAM_ABBREVIATION         CLE         CLE         CLE         CLE         CLE
PLAYER_AGE               19.0        20.0        21.0        22.0        23.0
GP                         79          80          79          78          75
GS                         79          80          79          78          74
MIN                    3120.0      3388.0      3361.0      3190.0      3027.0
FGM                       622         795         875         772         794
FGA                      1492        1684        1823        1621        1642
FG_PCT                  0.417       0.472        0.48       0.476       0.484
FG3M                       63         108         127          99         113
FG3A                      217         308         379         310         359
FG3_PCT                  0.29       0.351       0.335       0.319       0.315
FTM                       347         477         601         489         549
FTA                       460         636         814         701         771
FT_PCT                  0.754        0.75       0.738       0.698       0.712
OREB                       99         111          75          83         133
DREB                      333         477         481         443         459
REB                       432         588         556         526         592
AST                       465         577         521         470         539
STL                       130         177         123         125         138
BLK                        58          52          66          55          81
TOV                       273         262         260         250         255
PF                        149         146         181         171         165
PTS                      1654        2175        2478        2132        2250

In [15]:
arquivo = nome+' Career.csv'
career.to_csv(arquivo)

In [16]:
career.shape

(18, 27)